<fieldset>
	<legend>Add new person</legend>
	<div class="row">
		<div class="col-md-4">
			<div class="form-group">
				<label for="tb-name">Name</label>
				<input id="tb-name" type="text" class = "form-control">
			</div>

			<div class="form-group">
				<label for="nb-age">Age</label>
				<input id = "nb-age" type="number" class="form-control">
			</div>
			
			<button id="btn-add" class='btn btn-default'>Add</button>
		</div>
	</div>			
</fieldset>	

