body, header, div, h1, h2, section, article, p, span, form {
    margin: 0;
    padding: 0;
    font-size: 12px;
}

    div#wrapper {
        margin: 0;
        padding: 0;
        width: 660px;
        height: 297px;
        border: 1px solid #000;
    }


        div#wrapper > header {
            padding: 6px 7px 16px 12px;
            width: initial;
            height: 43px;
            border: 1px solid #000;
            background-color: #333333;
        }

        div#wrapper header span {
            font-size: 2.0em;
            font-weight: bold;
            color: #fff;
            position: relative;
            bottom: 14px;
            left: 21px;
        }

        div#wrapper > header:before {
            background: url(../Images/monitor.png) no-repeat;
            content: "";
            display: inline-block;
            width: 37px;
            height: 44px;
        }

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clearfix {
    zoom: 1;
}

    .clearfix:after {
        content: "";
        clear: both;
        display: block;
        height: 0;
    }

#login {
    display: inline-block;
    position: relative;
    bottom: 18px;
    left: 36px;
}

header div#login form input[type=text]:first-child {
    width: 135px;
    text-align: left;
    padding-left: 10px;
    height: 17px;
    margin-right: 22px;
}

header div#login form input#email {
    width: 135px;
    text-align: left;
    padding-left: 10px;
    height: 17px;
}

header div#login form input[type=image] {
    position: relative;
    top: 12px;
    left: 20px;
}


article {
    background-color: #3b3b3b;
    padding-top: 16.5px;
    padding-left: 10px;
    height: 213px;
}

    article header h2 {
        font-family: initial;
        font-size: 2.5em;
        margin: 0px 0px 19px 0px;
        letter-spacing: -0.25px;
        color:#f8d61f;
        text-shadow:1px 1px #000;
    }

    article > p {
        font-family: sans-serif;
        width: 90%;
        font-size: 1.1em;
        letter-spacing: 0.1px;
        color: #a6a6a6;
        word-spacing: 3px;
    }

    article p span {
        color: #fff;
    }
